
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Dni</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
    </tr>
  </thead>
</table>

<div class="person" *ngFor="let persona of infoService.equipo">
  <table class="table">
  <tbody>
    <tr>
      <th scope="row">{{ persona.dni }}</th>
      <th scope="row">{{ persona.nombre }}</th>
      <th scope="row">{{ persona.apellido }}</th>
      <th scope="row">{{ persona.edad }}</th>
    </tr>
  </tbody>
</table>

  

